/* ====================== Restaurant Details ====================== */

.inside #map {
    height: 350px;
}

#restaurant-container {
    text-align: center;
    border-bottom: 1px solid #d9d9d9;
    border-top: 1px solid #fff;
}

#restaurant-detail {
    display: flex;
    flex-wrap: wrap;
    /* width: calc(100% - 80px); */
    justify-content: center;
    align-items: center;
}

#restaurant-detail>div {
    max-width: 500px;
    align-items: center;
    text-align: center;
    padding: 5px;
}

#restaurant-name {
    color: #f18200;
    font-family: Arial, sans-serif;
    font-size: 20pt;
    font-weight: 200;
    letter-spacing: 0;
    margin: 15px 0 15px;
    text-transform: uppercase;
    line-height: 1.1;
}

#restaurant-address {
    font-size: 12pt;
    margin: 10px 0px;
}

#restaurant-img,
#restaurant-address,
#restaurant-cuisine {
    width: 100%;
    /* margin-right: auto;
    margin-left: auto; */
}

#restaurant-cuisine {
    background-color: #333;
    color: #ddd;
    font-size: 12pt;
    font-weight: 300;
    letter-spacing: 10px;
    margin-bottom: 20px;
    padding: 2px 0;
    text-align: center;
    text-transform: uppercase;
    /* width: 100%; */
}

#reviews-container {
    border-bottom: 1px solid #d9d9d9;
    /* border-top: 1px solid #fff; */
    margin-top: 10px;
}

#reviews-container h3 {
    color: #f58500;
    font-size: 24pt;
    font-weight: 300;
    letter-spacing: -1px;
    padding-bottom: 1pt;
    text-align: center;
    margin-bottom: 0;
}

#reviews-list {
    margin: 0;
    padding: 0 40px;
    /* padding-left: 40px;
    padding-right: 40px; */
    /* width: 100%; */
}

#reviews-list li {
    background-color: #fff;
    border: 2px solid #f3f3f3;
    display: block;
    list-style-type: none;
    margin: 0 0 15px;
    overflow: hidden;
    padding: 20px;
    position: relative;
    width: calc(100% - 40px);
}

#reviews-list li p {
    margin: 0 0 10px;
}

#restaurant-hours {
    border-style: solid;
}

#restaurant-hours td {
    color: #666;
}

@media only screen and (max-width:400px) {
    #restaurant-detail>div {
        padding: 0;
    }
    #reviews-list {
        padding: 0 20px;
    }
    #reviews-list li {
        padding: 0 5px 0 5px;
        width: calc(100% - 10px);
    }
}